.App {
  text-align: center;
}

.site-header__description {
  margin: 1em;
}

.dogs-list {
  list-style: none;
  margin: 0.25em;
  padding: 1.25em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25em;
}

.filter-container {
  margin-bottom: 1em;
}

.filter input:focus {
  outline: none;
  border: 1px solid #2155ff;
}

.dog__container {
  color: #333;
  /* transition: 0.2s; */
}

.dog__container:hover {
  background-color: #222;
}

.dog__container:focus {
  outline: 0.25em solid #2155ff;
}

.dog__img {
  border: 0.25em solid #222;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  height: 18vw;
  object-fit: cover;
  transition: 0.5s ease-in;
  width: 18vw;
}

.dog__img:hover {
  height: 25vw;
  width: 25vw;
}

.dog__name {
  color: #222;
  font-size: 1.2em;
  margin-top: 0.15em;
}

.dog__name:hover {
  color: #2155ff;
}

.dog-detail__wiki {
  margin: 1em;
}

.dog-detail__wiki a {
  color: #2155ff;
}

.dog-detail__wiki a:hover {
  color: #333;
}

.dog-detail__wiki a:focus {
  outline: 0.15em solid #2155ff;
}

.dog-detail__img-desc-container {
  display: flex;
  font-size: 1.25em;
  gap: 2.5em;
  margin: 1em;
}

.dog-detail__img {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  height: auto;
  width: 55vw;
}

.dog-detail__desc-container {
  margin-top: 1.5em;
}

.dog-detail__desc-item p:nth-child(1) {
  font-weight: bold;
}

.dog-detail__desc-item p:nth-child(2) {
  margin-top: -1em;
}

.dog-detail__back-link-container {
  margin: 2em;
}

a {
  color: #2155ff;
}

a:hover {
  color: #333;
}

a:focus {
  outline: 0.15em solid #2155ff;
}

.header {
  /* border: 2px solid black; */
  color: blue;
  display: flex;
  /* height: 1.5em; */
  /* gap: 1em; */
  justify-content: flex-end;
  margin-top: 1em;
}

.header__link {
  height: 1.5em;
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 5vw;
  overflow: hidden;
  position: relative;
  color: #222;
  margin-top: 0.15em;
}

.header__link:hover {
  color: #2155ff;
}

.footer__text {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.filter input {
  margin-left: 1rem;
}

@media only screen and (max-width: 425px) {
  .dog-detail__img {
    width: 85vw;
  }
}

@media only screen and (max-width: 600px) {
  .dogs-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .dog__img {
    height: 40vw;
    width: 40vw;
  }
}

@media only screen and (max-width: 950px) {
  .dog-detail__img-desc-container {
    display: block;
  }
}

.scroll-to-top {
  bottom: 2em;
  margin-left: 70%;
  position: fixed;
  z-index: 99999;
}

.scroll-to-top__button {
  background-color: #2155ff;
  border: 0.15em solid white;
  border-radius: 5%;
  color: white;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.scroll-to-top__button:hover,
.scroll-to-top__button:focus {
  background-color: white;
  border: 0.15em solid #2155ff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  color: #2155ff;
  cursor: pointer;
}

.scroll-to-top__button:active {
  transform: scale(0.8);
}

/* About page */

.about {
  margin: 1.75em;
}

.about__subtitle {
  margin-bottom: 2em;
}

.about__tools-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "react react react" 
  "tech tech tech";
  list-style: none;
  justify-content: center;
  
  padding: 0;
}

.about__tools-ul li:first-child{
  grid-area: react;
}

.about__tools-ul div {
  align-items: center;
  color: #222;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.about__logo {
  height: 5em;
  margin: auto -3em -.5em -3em;
  padding: 0;
  width: 40vmin;
}

.react {
  height: auto;
  width: 25vh;
}

.about li {
  text-align: left;
  /* list-style-type: "🐾";
  padding-inline-start: 1ch; */
}

.about__tools li {
  font-size: 1.5em;
}

.about__list-container {
  display: block;
  margin: auto auto 5em auto;
  width: 50vmax;
}

.about__list-container:first-of-type {
  margin: auto auto auto auto;
}

.about__list-main-ul {
  font-size: 1.25em;
}

.about__list-main-ul li {
  margin: .25em;
}

.about__contact {
  margin-bottom: 2.5em;
}

@media only screen and (max-width: 600px) {
  .about__tools-ul {
    grid-template-areas: 
    "react" 
    "tech";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

